*.iml
.gradle
/local.properties
/.idea/*
!/.idea/inspectionProfiles
!/.idea/scopes
!/.idea/checkstyle-idea.xml
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml
!/.idea/vcs.xml
.DS_Store
/captures
.externalNativeBuild
/**/build
/app/src/debug/assets/developer.properties
/*.bat
/fastlane/report.xml
/fastlane/README.md
